<!DOCTYPE html>
<html>
<body style="background-color:#00CDBC;">

<h1>Bookmark Manager</h1>

<form action='/bookmarks'>
  <button name="my_bookmarks" type="submit">My Bookmarks</button>
</form>

<form action='/add_bookmark' method='post'>
  <input type="text" name="title">
  <input type="text" name="url">
  <input name="add_bookmark" type="submit">Add Bookmark</input>
</form>

</body>
</html>